@page
@model ViewsASPNET.Pages.w1841Model
@{
}

<h1>W-1841</h1>

  <table class="table">

    <thead>
      <th>Nume</th>
      <th>Prenume</th>
      <th>Patronimic</th>
    </thead>
    <tr>
      <td>Brînzilă </td>
      <td>Nicolae</td>
      <td>Mihail</td>
    </tr>
    <tr>
      <td>Buruian</td>
      <td>Petru</td>
      <td>Veaceslav</td>
    </tr>
    <tr>
      <td>Carauș </td>
      <td>Maxim</td>
      <td>Eugen</td>
    </tr>
    <tr>
      <td>Cibotari </td>
      <td>Dumitru</td>
      <td>Nicolae</td>
    </tr>
    <tr>
      <td>Donea</td>
      <td>Gheorghe</td>
      <td>Gheorghe</td>
    </tr>
  </table>